
.footer {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
}

.footer a {
    color: #3c97bf;
}

.footer a:hover {
    color: #5bc0de;
}