@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body, html {
    font-family: 'Poppins', sans-serif;
    background: #fff;
    height: 100%;
    min-height: 100%;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100vh;
    background-color: #fff;
    color: #969595;
    transition: all 0.3s;    
    border-right: 1px solid #dee2e6!important;
}

.wrapper.toggled > .sidebar {
    margin-left: -250px;
}

.sidebar .sidebar-header {
    display: flex;
    padding: 1rem 1.2rem;
    align-items: center;
    height: 55px;
    border-bottom: 1px solid #dee2e6!important;
    background-color: #f8f9fa!important;
}

.sidebar a {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.sidebar a:hover, a:active {
    color: #969595;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul.components {
    padding: 0em 0;
    margin: 0px;
}

.sidebar ul.components li {
    padding: 0.5rem 1.2rem;
    align-items: center;
}

.sidebar ul.components li:hover {
    background-color: rgba(0,0,0,.075);
}

.sidebar ul.components li.active {
    background-color: #f8f9fa;    
    border-right: 2px solid #5bc0de;
    cursor: default;
}

.sidebar ul.components li.active > a {
    color: #000;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

.content {
    width: calc(100% - 250px);
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

.wrapper.toggled > .content {
    width: 100%;
}

/* ---------------------------------------------------
    PANEL STYLE
----------------------------------------------------- */

.panel {
    position: fixed;
    right: 0;
    top: 0;
    width: 70%;
    height: 100%;
    z-index: 10;
    margin-right: -70%;
    background-color: #fff;
    border-left: 1px solid #dee2e6!important;
    transition: all 0.4s;
    padding: 5px 0px;
    overflow-y: auto;
}

.panel.toggled {
    margin-right: 0;
}

/* ---------------------------------------------------
    FREEZE STYLE
----------------------------------------------------- */

.freeze {
    overflow: hidden;
}

.obscured {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0,0,0,.075);
}

.freeze .obscured {
    display: block;
}

/* ---------------------------------------------------
    PAGINATION STYLE
----------------------------------------------------- */

.pagination-page {
    color: #5bc0de;
}

.pagination-active {
    background-color: #5bc0de!important;
    border-color: #4dbddf!important;
}