
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

body {
	background: #f6f5f7;
	font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 100%;
}
.container-fluid {
    height: 100%;
}

.full-height {
	height: 100%;
}

.btn, input, .form-group input {
	border-radius: 0px;
}

.side-container {
	max-width: 420px;
	padding-top: 40px;
	margin: 0 auto;
}

.ad-container {
	max-width: 420px;
	padding-top: 40px;
	height: 100%;
	margin: auto auto;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.advice {
	margin: auto auto;
}