<nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
        <!-- sidebar-brand  -->
        <div class="sidebar-item sidebar-brand">
            <a><%- dashboard.name %></a>
        </div>
        <!-- sidebar-header  -->
        <div class="sidebar-item sidebar-header d-flex flex-nowrap">
            <div class="user-pic">
                <img class="img-responsive img-rounded" src="/img/user.jpg" alt="User picture">
            </div>
            <div class="user-info">
                <span class="user-name">Vito Domenico
                    <strong>Tagliente</strong>
                </span>
                <span class="user-role">Administrator</span>
                <span class="user-status">
                    <i class="fa fa-circle"></i>
                    <span>Online</span>
                </span>
            </div>
        </div>
        <!-- sidebar-menu  -->
        <%- dashboard.sidebar.render(); %>
        <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-footer  -->
    <div class="sidebar-footer">   
        <div>
            <a data-toggle="modal" data-target="#logout-modal">
                <i class="fa fa-power-off"></i>
            </a>
        </div>
    </div>
</nav>