<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Responsive sidebar template with sliding effect and dropdown menu based on bootstrap 3">
    <title>Home</title>
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png" />

    <!-- vendors -->
    <link rel="stylesheet" href="/css/vendors/bootstrap.min.css">
    <link rel="stylesheet" href="/css/vendors/all.min.css">
    <link rel="stylesheet" href="/css/overdrive/footer.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col text-center pt-5">
                <blockquote class="blockquote text-center">
                    <p class="mb-0">Welcome to overdrive!</p>
                    <i class="blockquote-footer">
                        The Nodejs based <cite title="Source Title">CMS</cite>
                    </i>
                </blockquote>
                <p>
                    <a class="btn btn-info btn-sm rounded-0" href="/signin">Start now</a>
                </p>
            </div>

        </div>
    </div>

    <footer>
        <p>
            Powered with <i class="fa fa-heart"></i> by
            <a target="_blank" href="https://github.com/vitodtagliente/overdrive-project">overdrive</a>
        </p>
    </footer>
</body>

</html>