<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Responsive sidebar template with sliding effect and dropdown menu based on bootstrap 3">
    <title>Home</title>
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png" />

    <!-- vendors -->
    <link rel="stylesheet" href="/css/vendors/bootstrap.min.css">
    <link rel="stylesheet" href="/css/vendors/all.min.css">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

        .footer {
            font-family: 'Montserrat', sans-serif;
            background-color: #222;
            color: #fff;
            font-size: 14px;
            bottom: 0;
            position: fixed;
            left: 0;
            right: 0;
            text-align: center;
            z-index: 999;
        }

        .footer p {
            margin: 10px 0;
        }

        .footer i {
            color: red;
        }

        .footer a {
            color: #3c97bf;
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col text-center pt-5">
                <blockquote class="blockquote text-center">
                    <p class="mb-0">Welcome to overdrive!</p>
                    <footer class="blockquote-footer">The Nodejs based <cite title="Source Title">dashboard CMS</cite>
                    </footer>
                </blockquote>
                <p>
                    <a class="btn btn-info btn-sm rounded-0" href="/signin">signin</a>
                </p>
            </div>

        </div>
    </div>

    <div class="footer">
        <p>
            Powered with <i class="fa fa-heart"></i> by
            <a target="_blank" href="https://github.com/vitodtagliente/overdrive-project">overdrive</a>
        </p>
    </div>
</body>

</html>