<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Responsive sidebar template with sliding effect and dropdown menu based on bootstrap 3">
    <title>Sign <%- (signin) ? 'in' : 'up' -%></title>
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png" />

    <!-- vendors -->
    <link rel="stylesheet" href="/css/vendors/bootstrap.min.css">
    <link rel="stylesheet" href="/css/vendors/all.min.css">
    <link rel="stylesheet" href="/css/overdrive/footer.css">
    <!-- overdrive -->
    <link rel="stylesheet" href="/css/overdrive/signin.css">
</head>

<body>
    <div class="container <%- (signin) ? '' : 'right-panel-active' -%>" id="container">
        <div class="form-container sign-up-container">
            <form id="form-signup">
                <h1>Create Account</h1>
                <input type="text" name="username" placeholder="Username" />
                <input type="email" name="email" placeholder="Email" />
                <input type="password" name="password" placeholder="Password" />
                <button type="submit">Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form id="form-signin">
                <h1>Sign in</h1>
                <input id="signin-email" type="email" name="email" placeholder="Email" />
                <input type="password" name="password" placeholder="Password" />
                <a href="#">Forgot your password?</a>
                <button type="submit">Sign In</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p>
            Powered with <i class="fa fa-heart"></i> by
            <a target="_blank" href="https://github.com/vitodtagliente/overdrive-project">overdrive</a>
        </p>
    </footer>

    <!-- vendors -->
    <script src="/js/vendors/jquery.min.js"></script>
    <script src="/js/vendors/popper.min.js"></script>
    <script src="/js/vendors/bootstrap.min.js"></script>
    <!-- overdrive -->
    <script src="/js/overdrive/signin.js"></script>
</body>

</html>