<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Responsive sidebar template with sliding effect and dropdown menu based on bootstrap 3">
    <title>Sign <%- (signin) ? 'in' : 'up' -%></title>
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png" />

    <!-- vendors -->
    <link rel="stylesheet" href="/css/vendors/bootstrap.min.css">
    <link rel="stylesheet" href="/css/vendors/all.min.css">
    <link rel="stylesheet" href="/css/overdrive/footer.css">
    <!-- overdrive -->
    <link rel="stylesheet" href="/css/overdrive/signin.css">
</head>

<body>
    <div id="content" class="container-fluid" <%- !signin ? 'style="display:none"' : '' -%>>
        <div id="row-signin" class="row full-height">
            <div class="col-6">
                <div class="container side-container sign-in-container">
                    <form id="form-signin">
                        <h1>Sign in</h1>
                        <div class="form-group">
                            <label for="in-email">Email address</label>
                            <input type="email" class="form-control" id="in-email" aria-describedby="emailHelp"
                                name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="in-password">Password</label>
                            <input type="password" class="form-control" name="password" required>
                        </div>
                        <button type="submit" class="btn btn-info">Sign In</button>
                    </form>
                </div>
            </div>
            <div class="col-6 bg-info">
                <div class="container ad-container">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button id="signUp" class="btn btn-light">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
    <div id="overlay" class="overlay container-fluid" <%- signin ? 'style="display:none"' : '' -%>>
        <div id="row-signup" class="row full-height">
            <div class="col-6 bg-info">
                <div class="container ad-container">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button id="signIn" class="btn btn-light">Sign In</button>
                </div>
            </div>
            <div class="col-6">
                <div class="container side-container">
                    <form id="form-signup">
                        <h1>Create an Account</h1>
                        <div class="form-group">
                            <label for="up-username">Username</label>
                            <input type="text" class="form-control" aria-describedby="emailHelp"
                                name="username" required>
                        </div>
                        <div class="form-group">
                            <label for="up-email">Email address</label>
                            <input id="up-email" type="email" class="form-control" aria-describedby="emailHelp"
                                name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="up-password">Password</label>
                            <input type="password" class="form-control" id="up-password" name="password" required>
                        </div>
                        <button type="submit" class="btn btn-info">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p>
            Powered with <i class="fa fa-heart"></i> by
            <a target="_blank" href="https://github.com/vitodtagliente/overdrive-project">overdrive</a>
        </p>
    </footer>

    <!-- vendors -->
    <script src="/js/vendors/jquery.min.js"></script>
    <script src="/js/vendors/popper.min.js"></script>
    <script src="/js/vendors/bootstrap.min.js"></script>
    <!-- overdrive -->
    <script src="/js/overdrive/signin.js"></script>
</body>

</html>