<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Responsive sidebar template with sliding effect and dropdown menu based on bootstrap 3">
    <title>Sign-in</title>
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png" />

    <!-- vendors -->
    <link rel="stylesheet" href="/css/vendors/bootstrap.min.css">
    <link rel="stylesheet" href="/css/vendors/all.min.css">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

        footer {
            font-family: 'Montserrat', sans-serif;
            background-color: #222;
            color: #fff;
            font-size: 14px;
            bottom: 0;
            position: fixed;
            left: 0;
            right: 0;
            text-align: center;
            z-index: 999;
        }

        footer p {
            margin: 10px 0;
        }

        footer i {
            color: red;
        }

        footer a {
            color: #3c97bf;
            text-decoration: none;
        }

        form {
            width: 360px;
        }

        .form-group input {
            border-radius: 0px;
        }

        @media only screen and (max-width: 600px) {
            form {
                margin-left: auto;
                margin-right: auto;
            }
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col pt-5">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input name="email" type="email" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label id="password" for="exampleInputPassword1">Password</label>
                        <input name="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </form>
            </div>

        </div>
    </div>

    <footer>
        <p>
            Powered with <i class="fa fa-heart"></i> by
            <a target="_blank" href="https://github.com/vitodtagliente/overdrive-project">overdrive</a>
        </p>
    </footer>

    <!-- vendors -->
    <script src="/js/vendors/jquery.min.js"></script>
    <script src="/js/vendors/popper.min.js"></script>
    <script src="/js/vendors/bootstrap.min.js"></script>
    <!-- custom -->
    <script>
        window.addEventListener('load', function ()
        {
            $("form").on("submit", function (e)
            {
                e.preventDefault();

                $.post({
                    url: '/api/auth/login',
                    data: $('form').serialize(),
                }).done(function (data)
                {
                    window.location.replace("/");
                }).fail(function (data)
                {

                });
            });
        });
    </script>
</body>

</html>