<div class="row">
    <div class="col-12">
        <h3>Test</h3>
    </div>
</div>
<div class="row">
    <div id="table-container" class="col-8">

    </div>
    <div class="col-4">
        
    </div>
</div>
<script>
    window.addEventListener('load', () =>
    {
        let test_data = Array();
        for (var i = 0; i < 50; ++i) {
            test_data.push({
                id: i,
                name: 'name' + i,
                description: 'description' + i
            });
        };

        const table = new Table();
        // table.classes.table.push('table-dark');
        table.classes.table.push('table-sm');
        table.classes.table.push('mt-2');
        table.field('id', async (cell, model) =>
        {
            cell.innerHTML = "<i style='color: orange'>" + model.id + "</i>";
        });
        table.renderColumn = async (cell, name) =>
        {
            cell.innerHTML = "<b>" + name + "</b>";
        };
        table.render(test_data, 'table-container');
    });
</script>