<div class="row">
    <div class="col-12">
        <h3>Article Editor</h3>
        <p class="lead">
            <%- article.name %>
        </p>
    </div>
</div>
<div class="row">
    <div class="col">
        <div id="editor" style="height: 500px; width: 100%"></div>
    </div>
</div>
<script>
    window.addEventListener('load', () =>
    {
        var editor = ace.edit('editor');
        editor.setTheme('ace/theme/monokai');
        editor.session.setMode("ace/mode/javascript");
    });
</script>