<div class="row">
    <div class="col-12">
        <h3>Article</h3>
        <p class="lead">
            <%- article.name %>
        </p>
    </div>
</div>
<div class="row">
    <div class="col">
        <div id="editor">
            
        </div>
    </div>
</div>
<script>