<div class="row">
    <div class="col-12">
        <h3>Test</h3>
        <p class="lead">
            Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
        </p>
    </div>
</div>
<div class="row">
    <div class="col">
        <div id="table-container">
        </div>
        <div id="inspector">

        </div>
    </div>
</div>
<script>
    window.addEventListener('load', () =>
    {
        const table = new Table();
        table.render('table-container', {
            columns: {
                visible: {},
                hidden: ['id', '_id']
            },
            schema: {
                name: {
                    Type: String,
                    required: true
                },
                type: {
                    Type: String,
                    required: true
                }
            },
            url: '/api/items',
            fields: {
                power: async (cell, model) =>
                {
                    let style = model.power > 5 ? "bg-success" : "bg-warning";
                    cell.innerHTML = `<p class="${style} m-0 p-0">${model.power}</p>`;
                }
            }
        });

    });
</script>