<div class="row">
    <div class="col-12">
        <h3>Test</h3>
        <p class="lead">
            Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
        </p>
    </div>
</div>
<div class="row">
    <div class="col">
        <div id="table-container">
        </div>
        <div id="inspector">

        </div>
    </div>
</div>
<script>
    window.addEventListener('load', () =>
    {
        let test_data = Array();
        for (var i = 0; i < 50; ++i) {
            test_data.push({
                id: i,
                name: 'name' + i,
                description: 'description' + i
            });
        };

        const table = new Table();
        // table.classes.table.push('table-dark');
        table.classes.table.push('table-sm');
        table.classes.table.push('mt-2');
        table.field('id', async (cell, model) =>
        {
            cell.innerHTML = "<i style='color: orange'>" + model.id + "</i>";
        });
        table.renderColumn = async (cell, name) =>
        {
            cell.innerHTML = "<b>" + name + "</b>";
        };

        /*
        table.columns = {
            _id: 'id',
            name: 'name'
        };
        table.render('/api/items', 'table-container');
        */

        /*
        table.inspector.schema = {
            name: {
                Type: String,
                required: true
            },
            isConsumable: {
                type: Boolean                
            },
            power: {
                type: Number
            },
            type: {
                required: true
            }
        };
        */

        table.render('/api/items', 'table-container');

    });
</script>